body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 60px;
  color:black;
  align-items: center; 
}
.topo {
  background:#E8B3A9;
  display: flex;
  align-items: center;
  padding: 50px;
}
.foto {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.info h1 {
  margin: 0;
  font-weight: bold;
  font-size: 26px;
}
.info h2 {
  margin: 5px;
  font-size: 17px;
  font-weight: normal;
  color: #0e0b0b;
}
.contato {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contato li {
  margin: 4px;
}
h3 {
  font-size: 18px;
  font-weight:bolder;
  margin-bottom: 10px;
}
.color{
     background:#E8B3A9;
     padding: 40px;
}
.corpo{
  background-color:white;
  padding: 50px;
}
.corpo1{
  background-color: white;
  padding: 50px;
}
.corpo2{
  background-color: white;
  padding: 50px;
}
.corpo3{
  background-color: white;
  padding: 50px;
}
